/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%;
  color: #000000;
  font-size: 1.4rem; }

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6, p, a, span, small, i, dd, dt, dl, label, li, ul, ol, strong, b, u {
  font-family: 'Roboto', sans-serif; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top;
  max-width: 100%; }

/*------------------------------------------------------------
Header
------------------------------------------------------------*/
#header__search {
  padding-left: 30px;
  position: relative;
  height: 65px;
  top: 12px; }
  #header__search:hover .header__input {
    opacity: 1;
    bottom: -20px; }

.header__top {
  background-color: #2c3e50; }

.header .container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  width: 100%; }

.header__contact ul {
  word-spacing: -4px; }

.header__contact li {
  display: inline-block; }
  .header__contact li:first-child a {
    padding-left: 0; }

.header__contact a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 100;
  padding: 0 18px;
  height: 40px;
  word-spacing: 1px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border-right: 1px solid #17202a; }
  .header__contact a:hover {
    opacity: .7; }

.header__contact .fa {
  margin-right: 13px;
  font-size: 1.6rem; }

.header__contact .__regis {
  color: #1dd2af;
  padding-left: 5px; }

.header__social ul {
  word-spacing: -4px; }

.header__social li {
  display: inline-block; }
  .header__social li:first-child a {
    border-left: 1px solid #17202a; }

.header__social a {
  font-size: 1.6rem;
  color: #ffffff;
  display: block;
  padding: 0 20px;
  height: 40px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border-right: 1px solid #17202a; }
  .header__social a:hover {
    opacity: .7; }

.header__bottom {
  background-color: #ffffff;
  box-shadow: 1px 2px 6px 1px #2c3e50;
  z-index: 1;
  position: relative; }

.header__logo a {
  font-size: 4rem;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: bold; }

.header__logo span {
  color: #1dd2af; }

.header__navi {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }
  .header__navi ul {
    word-spacing: -4px; }
  .header__navi li {
    display: inline-block;
    padding-left: 38px; }
    .header__navi li.active a {
      color: #1dd2af; }
  .header__navi a {
    text-transform: uppercase;
    color: #5d6e80;
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    position: relative; }
    .header__navi a:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      transition: all .5s;
      background-color: #8e44ad; }
    .header__navi a:hover:before {
      width: 40px; }

.header__menubar {
  display: none; }

.header__navisp {
  display: none; }

.header__input {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 220px;
  display: inline-block;
  height: 34px;
  padding: 0 10px;
  border: none;
  box-shadow: 1px 2px 1px 1px #333333;
  opacity: 0;
  transition: all .5s; }

.header__btn {
  border-radius: 50%;
  background: transparent;
  width: 37px;
  height: 37px;
  border: 2px solid #2c3e50;
  cursor: pointer; }
  .header__btn .fa-search {
    font-size: 2rem;
    color: #2c3e50; }

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background: #2c3e50; }
  .footer__inner {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 62px 0 50px; }
  .footer__newsLetter {
    width: 293px;
    padding-right: 75px; }
    .footer__newsLetter p {
      font-size: 1.3rem;
      color: #ffffff;
      line-height: 22px;
      margin-bottom: 15px; }
    .footer__newsLetter__checkSub {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between; }
    .footer__newsLetter__sub {
      border: none;
      padding: 10px 0px 9px 12px;
      width: 146px;
      font-size: 1.3rem;
      color: #626262;
      border-radius: 2px; }
    .footer__newsLetter button.subButton {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      background: #1dd2af;
      color: #ffffff;
      border: none;
      height: 33px;
      width: 50px;
      cursor: pointer;
      border-radius: 2px; }
      .footer__newsLetter button.subButton:hover {
        opacity: .7; }
  .footer__latestNews {
    width: 293px;
    padding-right: 60px; }
    .footer__latestNews__listPost {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding-bottom: 20px;
      transition: all .3s; }
      .footer__latestNews__listPost:hover {
        opacity: .7; }
    .footer__latestNews__img {
      display: inline-block;
      padding: 6px;
      width: 25%; }
      .footer__latestNews__img img {
        border: 1px solid #fff;
        padding: 5px; }
    .footer__latestNews__info {
      width: 70%; }
      .footer__latestNews__info a {
        font-size: 1.3rem;
        color: #ffffff;
        line-height: 22px;
        font-weight: 400; }
      .footer__latestNews__info span {
        font-size: 1.2rem;
        color: #1dd2af;
        font-weight: 100;
        display: block;
        padding-top: 4px; }
  .footer__tags {
    width: 293px;
    padding-right: 60px; }
    .footer__tags a {
      font-size: 1.3rem;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 7px 8px;
      display: inline-block;
      margin: 0 2px 5px 0;
      position: relative;
      transition: all .3s ease-in-out;
      -webkit-transition: .3s ease;
      -ms-transition: .3s ease; }
      .footer__tags a:hover {
        background: #ffffff;
        color: #2c3e50; }
        .footer__tags a:hover:before {
          width: 100%; }
  .footer__address {
    width: 293px;
    padding-right: 75px; }
    .footer__address p {
      font-size: 1.3rem;
      font-weight: 400;
      color: #ffffff;
      line-height: 25px; }
      .footer__address p span {
        color: #1dd2af; }
    .footer__address__listContact {
      padding-top: 16px; }
      .footer__address__listContact ul {
        white-space: nowrap; }
      .footer__address__listContact li {
        display: inline-block;
        margin-right: 30px; }
        .footer__address__listContact li:hover {
          opacity: .7; }
      .footer__address__listContact i {
        font-size: 2.5rem;
        color: #ffffff; }
  .footer__navi {
    text-align: center;
    border-top: 1px solid #394c5f;
    padding-top: 30px; }
    .footer__navi li {
      display: inline-block;
      padding: 0 10px;
      position: relative; }
      .footer__navi li:after {
        content: "::";
        color: #ffffff;
        position: absolute;
        top: 0;
        right: -5px; }
      .footer__navi li.active a {
        color: #1dd2af; }
      .footer__navi li:last-child:after {
        content: ""; }
    .footer__navi a {
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 400;
      transition: all .3s; }
      .footer__navi a:hover {
        color: #1dd2af; }
  .footer__coppyright {
    font-size: 1.3rem;
    color: #9dafc0;
    font-weight: 400;
    padding: 12px 0 70px; }
  .footer__ttl {
    font-size: 2.5rem;
    color: #1dd2af;
    font-weight: bold;
    margin-bottom: 18px; }

.btn__goTop {
  width: 90px;
  margin: 0 auto; }
  .btn__goTop i {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    right: -40px;
    top: -5px; }
    .btn__goTop i:after {
      content: "";
      border-color: transparent;
      border-style: solid;
      border-width: 0 45px 45px 45px;
      border-bottom-color: #1dd2af;
      position: absolute;
      top: -23px;
      left: -40px;
      z-index: -1; }
  .btn__goTop:hover {
    opacity: .7; }

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.wrapper {
  width: 100%;
  height: 100%;
  margin: auto; }

.container {
  max-width: 1173px;
  margin: auto; }

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.section__btn {
  text-align: center;
  padding-top: 60px; }

.btn {
  width: 230px;
  text-align: center;
  background: #16a085;
  border-top: 3px solid #3bd4b6;
  border-radius: 4px;
  display: inline-block; }
  .btn input {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    padding: 24px 50px;
    background: transparent;
    text-align: center;
    border: none;
    width: 100%;
    cursor: pointer; }
  .btn:hover {
    opacity: 0.7; }

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.title {
  text-align: center; }
  .title__ttl {
    font-size: 2.5rem;
    font-weight: 500;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .title__txt {
    font-size: 1.6rem;
    font-weight: 400;
    color: #626262; }
  .title--type02 .title__ttl {
    color: #ffffff; }
  .title--type02 .title__txt {
    color: #9eafc0; }

/*------------------------------------------------------------
Background Banner Annimation
------------------------------------------------------------*/
/*------------------------------------------------------------
Index page
------------------------------------------------------------*/
.index__main {
  overflow: hidden; }

.index__mainvisual .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 10;
  background: #1dd2af;
  border: none;
  color: #ffffff;
  font-size: 5rem;
  height: 80px;
  width: 80px;
  cursor: pointer;
  transition: all .4s; }
  .index__mainvisual .slick-arrow:hover {
    background: rgba(255, 255, 255, 0.42); }

.index__mainvisual .slick-next {
  right: 0;
  left: auto; }

.index__item {
  position: relative;
  height: 698px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  display: block !important; }
  .index__item:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #2c3e50;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8; }

.index__info {
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .index__info h2 {
    font-size: 5rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .index__info p {
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 45px; }

.index__btn a {
  display: inline-block;
  color: #ffffff;
  background-color: #1dd2af;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  border: 2px solid #1dd2af;
  border-radius: 4px;
  padding: 16px 20px; }
  .index__btn a.index__btn--btn2 {
    background-color: transparent;
    border: 2px solid #ffffff;
    margin-left: 25px; }

.index2 {
  background: #2c3e50;
  border: 1px solid #3a4e61;
  border-right: none;
  border-left: none; }
  .index2__place {
    display: flex;
    min-height: 105px;
    align-items: center;
    padding: 0 15px; }
  .index2__inner {
    display: flex;
    align-items: center;
    width: 84%; }
    .index2__titleSmall {
      font-size: 2.2rem;
      color: #9fb0c0;
      font-weight: 100;
      padding: 0 25px; }
  .index2__box {
    display: flex;
    align-items: center;
    width: 42%; }
  .index2__ttl {
    font-size: 2rem;
    font-weight: 400;
    color: #9fb0c0;
    position: relative;
    border-right: 1px solid #3a4e61;
    padding: 26px 0 25px;
    width: 16%; }
    .index2__ttl:before {
      content: "";
      width: 10px;
      height: 10px;
      border: 1px solid #3a4e61;
      border-bottom: none;
      border-left: none;
      background-color: #2c3e50;
      position: absolute;
      top: 49%;
      right: -2px;
      transform: rotate(45deg) translateY(-50%); }
    .index2__ttl span {
      display: block;
      font-weight: bold;
      font-size: 2.5rem;
      color: #ffffff; }
  .index2__select {
    position: relative;
    width: 325px;
    height: 48px;
    border: 1px solid #19242e;
    outline: none;
    box-sizing: border-box; }
    .index2__select select {
      width: 100%;
      height: 100%;
      padding: 10px 0 10px 10px;
      font-size: 2rem;
      color: #8a8a8a;
      border: none;
      appearance: none;
      -webkit-appearance: none; }
      .index2__select select::-ms-expand {
        display: none; }
    .index2__select:after {
      font-family: FontAwesome;
      content: "\f0ac";
      color: #a4a4a4;
      font-size: 2.2rem;
      line-height: 48px;
      height: 48px;
      width: 53px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center; }
  .index2__btnSearch {
    width: 108px;
    background: #1dd2af;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-left: 27px;
    font-size: 2rem;
    font-weight: 400; }
    .index2__btnSearch:hover {
      opacity: .7; }
  .index2__group {
    width: 324px;
    position: relative;
    background: #ffffff;
    border: 1px solid #19242e;
    padding-left: 10px; }
  .index2__input {
    height: 42px;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    color: #8a8a8a;
    border: none; }
  .index2__btnDate {
    background: transparent;
    border: none;
    height: 44px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 2.2rem;
    color: #a4a4a4; }

.index3 {
  background-color: #ffffff;
  padding: 85px 0 145px; }
  .index3 .slick-slide {
    margin: 0 8px; }
  .index3__content {
    padding-top: 90px; }
  .index3__item {
    border: 5px solid #eee;
    border-radius: 5px;
    transition: all .3s; }
    .index3__item img {
      width: 100%;
      height: 100%; }
    .index3__item:hover {
      border: 5px solid #1dd2af; }
      .index3__item:hover .index3__info {
        background-color: #2c3e50; }
        .index3__item:hover .index3__info:before {
          color: #ffffff; }
        .index3__item:hover .index3__info h3 {
          color: #ffffff; }
        .index3__item:hover .index3__info span {
          color: #8899a8; }
      .index3__item:hover .index3__updown li:after {
        color: #ffffff; }
  .index3__img {
    height: 200px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; }
  .index3__info {
    padding: 11px 15px;
    background: #eee;
    position: relative;
    cursor: pointer; }
    .index3__info:before {
      content: "\f107";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 2.9rem;
      color: #2c3e50;
      position: absolute;
      right: 5px;
      top: 23%;
      transform: translateX(-50%); }
    .index3__info h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #626262; }
    .index3__info > span {
      font-size: 1.3rem;
      font-weight: 400;
      color: #626262; }
    .index3__info.is-active:before {
      content: ""; }
  .index3__updown {
    padding-top: 13px; }
    .index3__updown li {
      padding: 25px 0 0 25px;
      position: relative; }
      .index3__updown li:last-child {
        padding-left: 0; }
        .index3__updown li:last-child span {
          padding-left: 0; }
        .index3__updown li:last-child:after {
          content: "\f106";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          font-size: 2.9rem;
          color: #2c3e50;
          position: absolute;
          right: 0;
          bottom: -3px; }
      .index3__updown li:before {
        content: "";
        background-position: center center;
        width: 28px;
        height: 28px;
        position: absolute;
        left: 0; }
      .index3__updown li:nth-child(1) {
        padding-top: 12px; }
        .index3__updown li:nth-child(1):before {
          background: url("../img/index/icon_index1.png") no-repeat;
          top: 6px; }
      .index3__updown li:nth-child(2):before {
        background: url("../img/index/icon_index2.png") no-repeat;
        bottom: -2px; }
      .index3__updown li:nth-child(3):before {
        background: url("../img/index/icon_index3.png") no-repeat;
        bottom: -4px; }
      .index3__updown li:nth-child(4) {
        border-top: 1px dashed #cbcbcb;
        padding-top: 15px;
        margin: 15px 0 10px; }
    .index3__updown span {
      font-size: 1.6rem;
      font-weight: 400;
      color: #2c3e50;
      padding-left: 8px; }

.index4 {
  background: url("../img/index/bg-index4.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 85px 0 120px;
  position: relative; }
  .index4__content {
    display: flex;
    justify-content: space-around;
    padding-top: 70px; }
  .index4__item {
    text-align: center; }
    .index4__item:hover .index4__img {
      border-color: #1dd2af; }
    .index4__item:hover .index4__txt {
      color: #1dd2af; }
    .index4__item:hover .index4__hover {
      opacity: 1; }
  .index4__img {
    border: 5px solid #ffffff;
    border-radius: 50%;
    width: 158px;
    height: 158px;
    margin-bottom: 15px;
    transition: all .3s;
    position: relative; }
    .index4__img img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .index4__hover {
    opacity: 0;
    transition: opacity .2s; }
  .index4__txt {
    font-size: 2rem;
    color: #9eafc0;
    font-weight: 400; }

.index5 {
  background-color: #ffffff;
  padding: 85px 0 120px; }
  .index5 .slick-slide {
    margin: 0 7.5px; }
  .index5__content {
    padding-top: 50px; }
  .index5 .slick-list {
    overflow: inherit; }
  .index5__item {
    padding: 23px 20px 20px;
    background: #ffffff;
    border: 1px solid #eee;
    cursor: pointer;
    opacity: .5;
    position: relative;
    min-height: 150px;
    height: 100%; }
    .index5__item p {
      font-size: 1.5rem;
      font-weight: 400;
      color: #4d4d4d;
      line-height: 20px;
      padding-bottom: 3px; }
    .index5__item h3 {
      font-size: 1.8rem;
      color: #1dd2af;
      font-weight: 400; }
    .index5__item span {
      font-size: 1.4rem;
      color: #b2b2b2;
      font-weight: 400; }
    .index5__item:hover {
      opacity: 1; }
      .index5__item:hover:before {
        background: #1dd2af; }
    .index5__item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #ffffff; }
    .index5__item:after {
      content: "";
      height: 40px;
      width: 51px;
      border: 1px solid #eee;
      border-left: none;
      border-top: none;
      background: #fff;
      transform: rotate(38deg);
      position: absolute;
      bottom: -21px;
      right: 35px; }

.contact {
  background: #f4f6f7;
  padding: 80px 0; }
  .contact__ttl {
    text-align: center;
    margin-bottom: 80px; }
  .contact__subcatch {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    color: #b2b2b2;
    margin-bottom: 5px; }
  .contact__catch {
    font-size: 3rem;
    color: #363636; }
  .contact__txt {
    font-size: 1.8rem;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    color: #777;
    margin-bottom: 50px; }

.form {
  padding: 0 100px; }
  .form label {
    display: block; }

.form__checkbox {
  opacity: 0;
  order: 3; }
  .form__checkbox:checked + .check_css:before {
    opacity: 1; }

.form__check {
  display: -ms-grid;
  display: grid; }
  .form__check .check_css {
    transition: background-color .2s linear;
    position: absolute;
    display: inline-block;
    padding: 0 0 0 52px;
    vertical-align: middle;
    cursor: pointer;
    order: 1; }
    .form__check .check_css:before {
      content: "";
      transition: opacity .2s linear;
      position: absolute;
      top: 50%;
      left: 22px;
      display: block;
      margin-top: -10px;
      width: 7px;
      height: 11px;
      border-right: 3px solid #118fba;
      border-bottom: 3px solid #118fba;
      content: attr(data-check);
      opacity: 0;
      transform: rotate(45deg);
      z-index: 2; }
    .form__check .check_css:after {
      content: "";
      transition: border-color .2s linear;
      position: absolute;
      top: 50%;
      left: 15px;
      display: block;
      margin-top: -13px;
      border-radius: 3px;
      width: 23px;
      height: 23px;
      border: 1px solid #cccccc;
      background-color: #fff; }
  .form__check .checkbox-151 {
    display: grid;
    font-size: 1.8rem; }
    .form__check .checkbox-151 .span {
      color: #777777; }
  .form__check a {
    color: #6d99b2;
    margin-right: 5px; }
    .form__check a:hover {
      opacity: .7; }

.form__input {
  font-size: 1.8rem;
  -webkit-appearance: none;
  background: 10px center no-repeat #fff;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-size: 20px;
  width: 96%;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px; }

.form__textarea {
  font-size: 1.8rem;
  width: 96%;
  padding: 20px 20px 10px 20px;
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 3px; }

