@import url("reset.css");

/*------------------------------------------------------------
Header
------------------------------------------------------------*/
#header__search {
  padding-left: 30px;
  position: relative;
  height: 65px;
  top: 12px; }
  #header__search:hover .header__input {
    opacity: 1;
    bottom: -20px; }

.header__top {
  background-color: #2c3e50; }

.header .container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  width: 100%; }

.header__contact ul {
  word-spacing: -4px; }

.header__contact li {
  display: inline-block; }
  .header__contact li:first-child a {
    padding-left: 0; }

.header__contact a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 100;
  padding: 0 18px;
  height: 40px;
  word-spacing: 1px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border-right: 1px solid #17202a; }
  .header__contact a:hover {
    opacity: .7; }

.header__contact .fa {
  margin-right: 13px;
  font-size: 1.6rem; }

.header__contact .__regis {
  color: #1dd2af;
  padding-left: 5px; }

.header__social ul {
  word-spacing: -4px; }

.header__social li {
  display: inline-block; }
  .header__social li:first-child a {
    border-left: 1px solid #17202a; }

.header__social a {
  font-size: 1.6rem;
  color: #ffffff;
  display: block;
  padding: 0 20px;
  height: 40px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  border-right: 1px solid #17202a; }
  .header__social a:hover {
    opacity: .7; }

.header__bottom {
  background-color: #ffffff;
  box-shadow: 1px 2px 6px 1px #2c3e50;
  z-index: 1;
  position: relative; }

.header__logo a {
  font-size: 4rem;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: bold; }

.header__logo span {
  color: #1dd2af; }

.header__navi {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }
  .header__navi ul {
    word-spacing: -4px; }
  .header__navi li {
    display: inline-block;
    padding-left: 38px; }
    .header__navi li.active a {
      color: #1dd2af; }
  .header__navi a {
    text-transform: uppercase;
    color: #5d6e80;
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-block;
    height: 90px;
    line-height: 90px;
    position: relative; }
    .header__navi a:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      transition: all .5s;
      background-color: #8e44ad; }
    .header__navi a:hover:before {
      width: 40px; }

.header__menubar {
  display: none; }

.header__navisp {
  display: none; }

.header__input {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 220px;
  display: inline-block;
  height: 34px;
  padding: 0 10px;
  border: none;
  box-shadow: 1px 2px 1px 1px #333333;
  opacity: 0;
  transition: all .5s; }

.header__btn {
  border-radius: 50%;
  background: transparent;
  width: 37px;
  height: 37px;
  border: 2px solid #2c3e50;
  cursor: pointer; }
  .header__btn .fa-search {
    font-size: 2rem;
    color: #2c3e50; }

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  background: #2c3e50; }
  .footer__inner {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding: 62px 0 50px; }
  .footer__newsLetter {
    width: 293px;
    padding-right: 75px; }
    .footer__newsLetter p {
      font-size: 1.3rem;
      color: #ffffff;
      line-height: 22px;
      margin-bottom: 15px; }
    .footer__newsLetter__checkSub {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox; }
    .footer__newsLetter__sub {
      border: none;
      padding: 10px 0px 9px 12px;
      width: 146px;
      font-size: 1.3rem;
      color: #626262;
      border-radius: 2px; }
    .footer__newsLetter button.subButton {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      background: #1dd2af;
      color: #ffffff;
      border: none;
      height: 33px;
      width: 50px;
      cursor: pointer;
      border-radius: 2px; }
      .footer__newsLetter button.subButton:hover {
        opacity: .7; }
  .footer__latestNews {
    width: 293px;
    padding-right: 60px; }
    .footer__latestNews__listPost {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding-bottom: 20px;
      transition: all .3s; }
      .footer__latestNews__listPost:hover {
        opacity: .7; }
    .footer__latestNews__img {
      display: inline-block;
      padding: 6px;
      width: 25%; }
      .footer__latestNews__img img {
        border: 1px solid #fff;
        padding: 5px; }
    .footer__latestNews__info {
      width: 70%; }
      .footer__latestNews__info a {
        font-size: 1.3rem;
        color: #ffffff;
        line-height: 22px;
        font-weight: 400; }
      .footer__latestNews__info span {
        font-size: 1.2rem;
        color: #1dd2af;
        font-weight: 100;
        display: block;
        padding-top: 4px; }
  .footer__tags {
    width: 293px;
    padding-right: 60px; }
    .footer__tags a {
      font-size: 1.3rem;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 7px 8px;
      display: inline-block;
      margin: 0 2px 5px 0;
      position: relative;
      transition: all .3s ease-in-out;
      -webkit-transition: .3s ease;
      -ms-transition: .3s ease; }
      .footer__tags a:hover {
        background: #ffffff;
        color: #2c3e50; }
        .footer__tags a:hover:before {
          width: 100%; }
  .footer__address {
    width: 293px;
    padding-right: 75px; }
    .footer__address p {
      font-size: 1.3rem;
      font-weight: 400;
      color: #ffffff;
      line-height: 25px; }
      .footer__address p span {
        color: #1dd2af; }
    .footer__address__listContact {
      padding-top: 16px; }
      .footer__address__listContact a {
        display: inline-block;
        margin-right: 30px; }
        .footer__address__listContact a:hover {
          opacity: .7; }
      .footer__address__listContact i {
        font-size: 2.5rem;
        color: #ffffff; }
  .footer__navi {
    text-align: center;
    border-top: 1px solid #394c5f;
    padding-top: 30px; }
    .footer__navi li {
      display: inline-block;
      padding: 0 10px;
      position: relative; }
      .footer__navi li:after {
        content: "::";
        color: #ffffff;
        position: absolute;
        top: 0;
        right: -5px; }
      .footer__navi li.active a {
        color: #1dd2af; }
      .footer__navi li:last-child:after {
        content: ""; }
    .footer__navi a {
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 400;
      transition: all .3s; }
      .footer__navi a:hover {
        color: #1dd2af; }
  .footer__coppyright {
    font-size: 1.3rem;
    color: #9dafc0;
    font-weight: 400;
    padding: 12px 0 70px; }
  .footer__ttl {
    font-size: 2.5rem;
    color: #1dd2af;
    font-weight: bold;
    margin-bottom: 18px; }

.btn__goTop {
  width: 90px;
  margin: 0 auto; }
  .btn__goTop i {
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    right: -40px;
    top: -5px; }
    .btn__goTop i:after {
      content: "";
      border-color: transparent;
      border-style: solid;
      border-width: 0 45px 45px 45px;
      border-bottom-color: #1dd2af;
      position: absolute;
      top: -23px;
      left: -40px;
      z-index: -1; }
  .btn__goTop:hover {
    opacity: .7; }

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden; }

.container {
  max-width: 1173px;
  margin: auto; }

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.section__btn {
  text-align: center;
  padding-top: 60px; }

.btn {
  width: 230px;
  text-align: center;
  background: #16a085;
  border-top: 3px solid #3bd4b6;
  border-radius: 4px;
  display: inline-block; }
  .btn input {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    padding: 24px 50px;
    background: transparent;
    text-align: center;
    border: none;
    width: 100%;
    cursor: pointer; }
  .btn:hover {
    opacity: 0.7; }

/*------------------------------------------------------------
title
------------------------------------------------------------*/
.title {
  text-align: center; }
  .title__ttl {
    font-size: 2.5rem;
    font-weight: 500;
    color: #2c3e50;
    text-transform: uppercase;
    margin-bottom: 7px; }
  .title__txt {
    font-size: 1.6rem;
    font-weight: 400;
    color: #626262; }
  .title--type02 .title__ttl {
    color: #ffffff; }
  .title--type02 .title__txt {
    color: #9eafc0; }


/*------------------------------------------------------------
CSS WORDPRESS
------------------------------------------------------------*/
.current-menu-item a {
  color: #1dd2af; }
.menu-item-type-custom a {
  color: #1dd2af; }
.tnp-field.tnp-field-email {
  width: 146px;
  border-radius: 3px;
  background: #fff;
  padding: 7px 12px;
  border:1px solid #19242e;
  margin-right: 5px; }  
input.tnp-email {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: #626262; }    
input.tnp-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  background: #1dd2af;
  color: #ffffff;
  border: none;
  height: 33px;
  width: 50px;
  cursor: pointer;
  border-radius: 3px;
  border:1px solid #004437; }  
input.tnp-button:hover {
  opacity: .7; }

.listPost{
  padding: 30px 0 0;
}
.listPost h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.listPost p {
  padding-bottom: 10px;
  display: inline-block;
  color: #000;
}
.listPost .titlePost {
  font-size: 2.2rem;
  font-weight: 500;
  display: block;
}
.desc p {
  font-size: 1.8rem;
}
.listPost__item {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.listPost__item:last-child {
  border-bottom: none;
}
.listPost__item .cat {
  border: 1px solid #999;
  padding: 3px 10px; 
  margin-left: 20px;
  display: inline-block;
}
.title__cat {
  text-align: center;
  padding: 50px 0 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 2.2rem;
  position: relative;
}
.title__cat:before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.btn__pre {
  text-align: center;
  margin: 40px 0;
}
.btn__pre a {
  border: 2px solid #000;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 40px;
  display: inline-block;
}
.breadcrumbs {
  
  padding: 10px 0;
}
.breadcrumbs ul {
  font-size: 1.6rem;
  color: #fff;
  display: flex;
}
.breadcrumbs a{
  color: #2c3e50;
  font-weight: 500;
  text-decoration: underline;
}
.breadcrumbs li {
  color: #2c3e50;
}
.breadcrumbs li:before {
  content: "\f105";
  font-family: "fontAwesome";
  padding: 0 15px 0 17px;
  color: #2c3e50;
}
.breadcrumbs li:first-child:before {
  content: "";
  display: none;
}
.pagination {
  text-align: center;
  padding: 0 0 80px;
}
.pagination span.page-numbers.current {
  display: inline-block;
  width: 45px;
  line-height: 45px;
  margin: 0 5px;
  color: #fff;
  background-color: #1dd2af;
}
.pagination a {
  display: inline-block;
  width: 45px;
  line-height: 45px;
  margin: 0 5px;
  background-color: #f8f8f8;
}
.pagination a:hover {
  background-color: #1dd2af;
  color: #fff;
}
.pagination a.prev:before {
  content: "\f104";
  font-family: "fontAwesome";
}
.pagination a.next:before {
  content: "\f105";
  font-family: "fontAwesome";
}
.page-header {
  text-align: center;
  margin: 100px 0;
  font-size: 3rem;
}
.page-content {
  padding: 50px 0;
}


