/*-----------------------BreakPoint 1024--------------------------*/
@media only screen and (max-width: 1024px) {
  /*-------------------------------------------------------
  -----------------------Common Header---------------------
  -------------------------------------------------------*/
  .header__top {
    display: none; }
  .header__bottom {
    position: fixed;
    width: 100%;
    z-index: 999999; }
    .header__bottom .container {
      flex-direction: column; }
  .header__logo {
    padding-top: 10px; }
  .header__navi li:first-child {
    padding-left: 0; }
  .header__navi a {
    height: 70px;
    line-height: 70px; }
  /*-------------------------------------------------------
  -----------------------Common Main---------------------
  -------------------------------------------------------*/
  .index {
    padding-top: 128px; }
    .index__info h2 {
      font-size: 3.7rem; }
    .index__info p {
      font-size: 2.3rem; }
    .index__btn a {
      padding: 16px; }
      .index__btn a.index__btn--btn2 {
        margin-left: 13px; }
  .index2__place {
    min-height: 90px; }
  .index2__ttl {
    font-size: 1.5rem; }
    .index2__ttl span {
      font-size: 2.2rem; }
  .index2__btnDate {
    right: 10px; }
  .index2__select select {
    font-size: 1.7rem; }
  .index2__input {
    font-size: 1.7rem; }
  .index2__btnSearch {
    font-size: 1.7rem;
    padding: 11px 0;
    margin-left: 20px; }
  .index4__content {
    flex-wrap: wrap; }
  .index4__item {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px; }
  /*-------------------------------------------------------
  -----------------------Common Footer---------------------
  -------------------------------------------------------*/
  .footer__inner {
    flex-wrap: wrap;
    padding: 62px 15px 50px; } }

/*-----------------------BreakPoint 768--------------------------*/
@media only screen and (max-width: 768px) {
  /*-------------------------------------------------------
  -----------------------Common Header---------------------
  -------------------------------------------------------*/
  body {
    min-width: 320px; }
  #header__search {
    text-align: center;
    height: auto;
    padding-left: 0; }
    #header__search:hover .header__input {
      opacity: 1;
      bottom: 2px; }
  .header__bottom {
    min-height: 70px;
    display: flex;
    align-items: center; }
  .header__logo {
    padding-top: 0;
    height: 70px;
    display: flex;
    align-items: center; }
    .header__logo a {
      font-size: 3.3rem; }
  .header__navi {
    display: none; }
  .header__menubar {
    position: fixed;
    top: 23px;
    left: 10px;
    z-index: 1000;
    display: block;
    cursor: pointer; }
    .header__menubar span {
      width: 40px;
      height: 5px;
      background: #1dd2af;
      position: absolute; }
      .header__menubar span:nth-child(1) {
        top: 10px; }
      .header__menubar span:nth-child(3) {
        bottom: -25px; }
  .header__navisp {
    width: 100%;
    background: #ffffff; }
    .header__navisp li {
      padding: 10px;
      border-bottom: 1px solid #eee; }
      .header__navisp li:last-child {
        border-bottom: none; }
    .header__navisp a {
      font-size: 2rem;
      color: #5d6e80;
      font-weight: 500;
      display: block; }
      .header__navisp a:hover {
        color: #1dd2af; }
  .header .is-active {
    display: block; }
  .header form {
    padding: 30px 0 50px;
    text-align: center;
  }
  .header__input {
    width: 60%;
    position: relative;
    opacity: 1;
    border: 1px solid #2c3e50;
    box-shadow: none;
    bottom: 2px; }
  .header__btn {
    border-radius: 0;
    border: 1px solid #2c3e50;
    height: 36px; }
  /*-------------------------------------------------------
  -----------------------Common Main---------------------
  -------------------------------------------------------*/
  .index {
    padding-top: 70px; }
    .index h2 {
      font-size: 2.2rem; }
    .index p {
      font-size: 1.6rem; }
    .index__btn a {
      padding: 10px 4px;
      font-size: 1.3rem; }
    .index a.index__btn--btn2 {
      margin-left: 5px; }
    .index__mainvisual .slick-arrow {
      width: 45px;
      height: 45px;
      font-size: 3.3rem; }
    .index__item {
      height: 350px; }
    .index__info p {
      margin-bottom: 20px; }
  .index2__place {
    flex-direction: column; }
  .index2__ttl {
    width: 100%;
    text-align: center;
    border-right: none; }
    .index2__ttl:before {
      width: 0;
      height: 0; }
  .index2__inner {
    width: 100%;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center; }
  .index2__box {
    width: 100%;
    margin-bottom: 15px; }
    .index2__btnSearch {
      margin-left: 0;
      margin-top: 10px; }
    .index2__titleSmall {
      font-size: 1.7rem;
      width: 80px;
      padding: 0; }
  .index2__select {
    height: 40px;
    width: 100%; }
    .index2__select select {
      font-size: 1.5rem; }
    .index2__select:after {
      font-size: 1.8rem;
      height: 38px;
      width: 35px;
      line-height: 38px; }
  .index2__group {
    width: 100%; }
  .index2__input {
    height: 38px;
    font-size: 1.5rem; }
  .index2__btnDate {
    height: 37px;
    font-size: 1.6rem;
    right: 4px; }
  .index3 {
    padding: 40px 0 70px; }
    .index3__content {
      padding-top: 45px; }
    .index3__img {
      height: 180px; }
    .index3__info h3 {
      font-size: 1.3rem; }
    .index3__info > span {
      font-size: 1.1rem; }
    .index3__updown span {
      font-size: 1.3rem; }
  .index4 {
    padding: 40px 0 60px; }
    .index4__content {
      padding-top: 40px; }
    .index4__img {
      width: 120px;
      height: 120px; }
      .index4__img img {
        width: 55px; }
  .index5 {
    padding: 40px 0 60px; }
    .index5__content {
      padding-top: 35px; }
    .index5__item {
      padding: 15px;
      min-height: 120px; }
      .index5__item p {
        font-size: 1.2rem; }
      .index5__item h3 {
        font-size: 1.5rem; }
      .index5__item span {
        font-size: 1.1rem; }
      .index5__item:after {
        height: 30px;
        width: 25px;
        transform: rotate(49deg);
        bottom: -16px; }
  .contact {
    padding: 35px; }
    .contact__subcatch {
      font-size: 1.3rem;
      margin-bottom: 0; }
    .contact__catch {
      font-size: 2.2rem; }
    .contact__ttl {
      margin-bottom: 25px; }
    .contact__txt {
      font-size: 1.3rem;
      line-height: 20px;
      margin-bottom: 35px; }
  .form {
    padding: 0;
    text-align: center; }
    .form__input {
      padding: 5px 10px 5px 10px;
      width: 90%;
      font-size: 1.4rem;
      height: 50px;
      margin-bottom: 20px; }
    .form__textarea {
      padding: 5px 10px 5px 10px;
      width: 90%;
      font-size: 1.4rem; }
    .form__check .check_css:before {
      left: 28px; }
    .form__check .check_css:after {
      left: 20px; }
  .section__btn {
    padding-top: 25px; }
  .btn input {
    padding: 15px 20px;
    font-size: 1.4rem; }
  /*-------------------------------------------------------
  -----------------------Common Footer---------------------
  -------------------------------------------------------*/
  .footer__inner {
    padding: 30px 15px 30px; }
  .footer__newsLetter, .footer__latestNews, .footer__tags {
    padding-bottom: 20px; }
  .footer__ttl {
    font-size: 2.2rem;
    margin-bottom: 5px; }
  .footer__latestNews__listPost {
    padding-bottom: 10px; }
  .footer__address__listContact i {
    font-size: 1.8rem; }
  .footer__navi {
    padding-top: 10px; }
    .footer__navi ul {
      display: none; }
  .footer__coppyright {
    font-size: 1rem;
    padding: 0 0 40px; }
  .btn__goTop {
    width: 60px; }
    .btn__goTop i {
      right: -23px; }
      .btn__goTop i:after {
        border-width: 0 30px 35px 30px;
        top: -13px;
        left: -23px; } }

/*-----------------------BreakPoint 480--------------------------*/
@media only screen and (max-width: 480px) {
  /*-------------------------------------------------------
  -----------------------Common Header---------------------
  -------------------------------------------------------*/
  body {
    min-width: 320px; }
  .header__bottom {
    min-height: 60px; }
  .header__logo {
    height: 60px; }
    .header__logo a {
      font-size: 2.8rem; }
  .header__menubar span {
    width: 30px;
    height: 3px; }
    .header__menubar span:nth-child(1) {
      top: 6px; }
    .header__menubar span:nth-child(3) {
      bottom: -15px; }
  .header__navisp a {
    font-size: 1.4rem; }
  .header .is-active ul {
    display: block; }
  /*-------------------------------------------------------
  -----------------------Common Main---------------------
  -------------------------------------------------------*/
  .index {
    padding-top: 60px; }
    .index__mainvisual .slick-arrow {
      width: 30px;
      height: 40px;
      font-size: 2rem; }
    .index h2 {
      font-size: 1.5rem; }
    .index p {
      font-size: 1.2rem;
      margin-bottom: 10px; }
    .index a {
      font-size: .8rem;
      padding: 8px 3px; }
      .index a.index__btn--btn2 {
        margin-left: 5px; }
    .index__item {
      height: 300px; }
    .index__btn {
      padding: 6px 3px; }
      .index__btn .__btn1 {
        margin-right: 5px; }
  .index2__inner {
    flex-wrap: wrap;
    width: 100%; }
    .index2__inner h3 {
      padding: 0;
      width: 100px;
      text-align: center;
      font-size: 1.8rem; }
    .index2__btnSearch {
      padding: 8px 0;
      font-size: 1.2rem;
      width: 90px; }  
  .index2__icon {
    width: 100%; }
    .index2__icon:before {
      font-size: 1.3rem;
      line-height: 39px; }
  .index2__ttl {
    font-size: 1.4rem; }
    .index2__ttl span {
      font-size: 2rem; }
  .index2__select {
    width: 100%;
    height: 39px; }
    .index2__select:after {
      font-size: 1.5rem;
      height: 39px;
      line-height: 39px; }
  .index2__date {
    width: 100%;
    height: 39px; }
  .index2 input[type="date"]:after {
    font-size: 1.5rem;
    height: 39px;
    line-height: 39px; }
  .index3 {
    padding: 35px 0 55px; }
    .index3__content {
      padding-top: 15px; }
    .index3__img {
      height: 150px; }
    .index3__info {
      padding: 5px 10px; }
      .index3__info h3 {
        margin-bottom: 3px;
        font-size: 1.1rem; }
      .index3__info span {
        font-size: 1rem; }  
      .index3__info:before {
        font-size: 2.2rem; } 
      .index3__updown li:last-child:after {
        font-size: 1.9rem; }  
  .index4 {
    padding: 35px 0 0; }
    .index4__item {
      width: 50%;
      margin-bottom: 10px; }
    .index4__img {
      width: 90px;
      height: 90px;
      border-width: 3px;
      margin-bottom: 5px; }
      .index4__img img {
        width: 40px; }
    .index4__txt {
      font-size: 1.6rem; }
  .index5 {
    padding: 35px 15px 55px; }
    .index5__content {
      padding-top: 30px; }
  .contact {
    padding: 20px; }
    .contact__ttl {
      margin-bottom: 15px; }
  .form__check span {
    font-size: 1.1rem; }
  .form__check .check_css {
    padding: 0 0 0 40px; }
    .form__check .check_css:before {
      left: 13px; }
    .form__check .check_css:after {
      left: 5px; }
  .form__input {
    padding: 0 0 0 15px; }
  .form__textarea {
    padding: 15px 0 0 15px; }
  .btn {
    width: 200px; }
    .btn a {
      padding: 10px 20px; }
  /*-------------------------------------------------------
  -----------------------Common Title---------------------
  -------------------------------------------------------*/
  .title__ttl {
    font-size: 2rem; }
  .title__txt {
    font-size: 1.3rem; }
  /*-------------------------------------------------------
  -----------------------Footer---------------------
  -------------------------------------------------------*/
  .footer__inner {
    padding: 30px 15px 10px; }
  .footer__ttl {
    font-size: 2.1rem; } }
